@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Добре дошли в FootballApp</h1>
        <a class="btn btn-primary" asp-controller="Football" asp-action="UpcomingMatches">Предстоящи мачове</a>
    </div>
</body>